<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0 Copyright © 2018 Headsoft. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.Headsoft.USBPorts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBPorts</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>MacBookPro15,2-XHC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>XHC</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>
				EQAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>HS01</key>
					<dict>
						<key>IOGeneralInterest</key>
						<string>IOCommand is not serializable</string>
						<key>IOPowerManagement</key>
						<dict>
							<key>CapabilityFlags</key>
							<integer>65536</integer>
							<key>CurrentPowerState</key>
							<integer>2</integer>
							<key>DevicePowerState</key>
							<integer>2</integer>
							<key>DriverPowerState</key>
							<integer>0</integer>
							<key>MaxPowerState</key>
							<integer>3</integer>
						</dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>device-properties</key>
						<dict>
							<key>acpi-device</key>
							<string>IOACPIPlatformDevice is not serializable</string>
							<key>acpi-path</key>
							<string>IOACPIPlane:/_SB/PCI0@0/XHC@140000/RHUB@0/HS01@1</string>
						</dict>
						<key>kUSBBusCurrentAllocation</key>
						<integer>0</integer>
						<key>kUSBBusCurrentSleepAllocation</key>
						<integer>0</integer>
						<key>kUSBHostPortPropertyOffset</key>
						<integer>0</integer>
						<key>kUSBSleepPortCurrentLimit</key>
						<integer>0</integer>
						<key>kUSBWakePortCurrentLimit</key>
						<integer>500</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
						<key>port-statistics</key>
						<dict>
							<key>kPortStatAddressFailureCount</key>
							<integer>0</integer>
							<key>kPortStatConnectCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationCurrentConnectCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationDuringResetCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationDuringResumeCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationRecoveryDuringResetCount</key>
							<integer>0</integer>
							<key>kPortStatEnumerationFailureCount</key>
							<integer>0</integer>
							<key>kPortStatOverCurrentCount</key>
							<integer>0</integer>
							<key>kPortStatPowerStateTime</key>
							<dict>
								<key>kPowerStateOff</key>
								<string>0ms (0%)</string>
								<key>kPowerStateOn</key>
								<string>232ms (0%)</string>
								<key>kPowerStateSleep</key>
								<string>0ms (0%)</string>
								<key>kPowerStateSuspended</key>
								<string>68965ms (99%)</string>
							</dict>
							<key>kPortStatRemoteWakeCount</key>
							<integer>0</integer>
						</dict>
						<key>port-status</key>
						<integer>0</integer>
					</dict>
					<key>HS02</key>
					<dict>
						<key>IOGeneralInterest</key>
						<string>IOCommand is not serializable</string>
						<key>IOPowerManagement</key>
						<dict>
							<key>CapabilityFlags</key>
							<integer>65536</integer>
							<key>CurrentPowerState</key>
							<integer>2</integer>
							<key>DevicePowerState</key>
							<integer>2</integer>
							<key>DriverPowerState</key>
							<integer>0</integer>
							<key>MaxPowerState</key>
							<integer>3</integer>
						</dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>device-properties</key>
						<dict>
							<key>acpi-device</key>
							<string>IOACPIPlatformDevice is not serializable</string>
							<key>acpi-path</key>
							<string>IOACPIPlane:/_SB/PCI0@0/XHC@140000/RHUB@0/HS01@1/HSP2@2</string>
						</dict>
						<key>kUSBBusCurrentAllocation</key>
						<integer>0</integer>
						<key>kUSBBusCurrentSleepAllocation</key>
						<integer>0</integer>
						<key>kUSBHostPortPropertyOffset</key>
						<integer>0</integer>
						<key>kUSBSleepPortCurrentLimit</key>
						<integer>0</integer>
						<key>kUSBWakePortCurrentLimit</key>
						<integer>500</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
						<key>port-statistics</key>
						<dict>
							<key>kPortStatAddressFailureCount</key>
							<integer>0</integer>
							<key>kPortStatConnectCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationCurrentConnectCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationDuringResetCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationDuringResumeCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationRecoveryDuringResetCount</key>
							<integer>0</integer>
							<key>kPortStatEnumerationFailureCount</key>
							<integer>0</integer>
							<key>kPortStatOverCurrentCount</key>
							<integer>0</integer>
							<key>kPortStatPowerStateTime</key>
							<dict>
								<key>kPowerStateOff</key>
								<string>0ms (0%)</string>
								<key>kPowerStateOn</key>
								<string>0ms (0%)</string>
								<key>kPowerStateSleep</key>
								<string>0ms (0%)</string>
								<key>kPowerStateSuspended</key>
								<string>68945ms (100%)</string>
							</dict>
							<key>kPortStatRemoteWakeCount</key>
							<integer>0</integer>
						</dict>
						<key>port-status</key>
						<integer>0</integer>
					</dict>
					<key>HS03</key>
					<dict>
						<key>IOGeneralInterest</key>
						<string>IOCommand is not serializable</string>
						<key>IOPowerManagement</key>
						<dict>
							<key>CapabilityFlags</key>
							<integer>32768</integer>
							<key>ChildrenPowerState</key>
							<integer>3</integer>
							<key>CurrentPowerState</key>
							<integer>3</integer>
							<key>DevicePowerState</key>
							<integer>2</integer>
							<key>DriverPowerState</key>
							<integer>0</integer>
							<key>MaxPowerState</key>
							<integer>3</integer>
						</dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>device-properties</key>
						<dict>
							<key>acpi-device</key>
							<string>IOACPIPlatformDevice is not serializable</string>
							<key>acpi-path</key>
							<string>IOACPIPlane:/_SB/PCI0@0/XHC@140000/RHUB@0/HS01@1/HSP3@3</string>
						</dict>
						<key>kUSBBusCurrentAllocation</key>
						<integer>0</integer>
						<key>kUSBBusCurrentSleepAllocation</key>
						<integer>0</integer>
						<key>kUSBHostPortPropertyOffset</key>
						<integer>0</integer>
						<key>kUSBSleepPortCurrentLimit</key>
						<integer>0</integer>
						<key>kUSBWakePortCurrentLimit</key>
						<integer>500</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
						<key>port-statistics</key>
						<dict>
							<key>kPortStatAddressFailureCount</key>
							<integer>0</integer>
							<key>kPortStatConnectCount</key>
							<integer>1</integer>
							<key>kPortStatEOF2ViolationCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationCurrentConnectCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationDuringResetCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationDuringResumeCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationRecoveryDuringResetCount</key>
							<integer>0</integer>
							<key>kPortStatEnumerationFailureCount</key>
							<integer>0</integer>
							<key>kPortStatOverCurrentCount</key>
							<integer>0</integer>
							<key>kPortStatPowerStateTime</key>
							<dict>
								<key>kPowerStateOff</key>
								<string>0ms (0%)</string>
								<key>kPowerStateOn</key>
								<string>69200ms (100%)</string>
								<key>kPowerStateSleep</key>
								<string>0ms (0%)</string>
								<key>kPowerStateSuspended</key>
								<string>0ms (0%)</string>
							</dict>
							<key>kPortStatRemoteWakeCount</key>
							<integer>0</integer>
						</dict>
						<key>port-status</key>
						<integer>4352</integer>
					</dict>
					<key>HS05</key>
					<dict>
						<key>IOGeneralInterest</key>
						<string>IOCommand is not serializable</string>
						<key>IOPowerManagement</key>
						<dict>
							<key>CapabilityFlags</key>
							<integer>32768</integer>
							<key>ChildrenPowerState</key>
							<integer>3</integer>
							<key>CurrentPowerState</key>
							<integer>3</integer>
							<key>DevicePowerState</key>
							<integer>2</integer>
							<key>DriverPowerState</key>
							<integer>0</integer>
							<key>MaxPowerState</key>
							<integer>3</integer>
						</dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>device-properties</key>
						<dict>
							<key>acpi-device</key>
							<string>IOACPIPlatformDevice is not serializable</string>
							<key>acpi-path</key>
							<string>IOACPIPlane:/_SB/PCI0@0/XHC@140000/RHUB@0/HS05@5</string>
						</dict>
						<key>kUSBBusCurrentAllocation</key>
						<integer>0</integer>
						<key>kUSBBusCurrentSleepAllocation</key>
						<integer>0</integer>
						<key>kUSBHostPortPropertyOffset</key>
						<integer>0</integer>
						<key>kUSBSleepPortCurrentLimit</key>
						<integer>0</integer>
						<key>kUSBWakePortCurrentLimit</key>
						<integer>500</integer>
						<key>port</key>
						<data>
						BQAAAA==
						</data>
						<key>port-statistics</key>
						<dict>
							<key>kPortStatAddressFailureCount</key>
							<integer>0</integer>
							<key>kPortStatConnectCount</key>
							<integer>1</integer>
							<key>kPortStatEOF2ViolationCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationCurrentConnectCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationDuringResetCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationDuringResumeCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationRecoveryDuringResetCount</key>
							<integer>0</integer>
							<key>kPortStatEnumerationFailureCount</key>
							<integer>0</integer>
							<key>kPortStatOverCurrentCount</key>
							<integer>0</integer>
							<key>kPortStatPowerStateTime</key>
							<dict>
								<key>kPowerStateOff</key>
								<string>0ms (0%)</string>
								<key>kPowerStateOn</key>
								<string>69199ms (100%)</string>
								<key>kPowerStateSleep</key>
								<string>0ms (0%)</string>
								<key>kPowerStateSuspended</key>
								<string>0ms (0%)</string>
							</dict>
							<key>kPortStatRemoteWakeCount</key>
							<integer>0</integer>
						</dict>
						<key>port-status</key>
						<integer>4864</integer>
					</dict>
					<key>SS01</key>
					<dict>
						<key>IOGeneralInterest</key>
						<string>IOCommand is not serializable</string>
						<key>IOPowerManagement</key>
						<dict>
							<key>CapabilityFlags</key>
							<integer>65536</integer>
							<key>CurrentPowerState</key>
							<integer>2</integer>
							<key>DevicePowerState</key>
							<integer>2</integer>
							<key>DriverPowerState</key>
							<integer>0</integer>
							<key>MaxPowerState</key>
							<integer>3</integer>
						</dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>device-properties</key>
						<dict>
							<key>acpi-device</key>
							<string>IOACPIPlatformDevice is not serializable</string>
							<key>acpi-path</key>
							<string>IOACPIPlane:/_SB/PCI0@0/XHC@140000/RHUB@0/SS01@d</string>
						</dict>
						<key>kUSBBusCurrentAllocation</key>
						<integer>150</integer>
						<key>kUSBBusCurrentSleepAllocation</key>
						<integer>0</integer>
						<key>kUSBHostPortPropertyOffset</key>
						<integer>12</integer>
						<key>kUSBSleepPortCurrentLimit</key>
						<integer>0</integer>
						<key>kUSBWakePortCurrentLimit</key>
						<integer>900</integer>
						<key>link-error-count</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DQAAAA==
						</data>
						<key>port-statistics</key>
						<dict>
							<key>kPortStatAddressFailureCount</key>
							<integer>0</integer>
							<key>kPortStatConnectCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationCurrentConnectCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationDuringResetCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationDuringResumeCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationRecoveryDuringResetCount</key>
							<integer>0</integer>
							<key>kPortStatEnumerationFailureCount</key>
							<integer>0</integer>
							<key>kPortStatOverCurrentCount</key>
							<integer>0</integer>
							<key>kPortStatPowerStateTime</key>
							<dict>
								<key>kPowerStateOff</key>
								<string>0ms (0%)</string>
								<key>kPowerStateOn</key>
								<string>252ms (0%)</string>
								<key>kPowerStateSleep</key>
								<string>0ms (0%)</string>
								<key>kPowerStateSuspended</key>
								<string>68971ms (99%)</string>
							</dict>
							<key>kPortStatRemoteWakeCount</key>
							<integer>0</integer>
						</dict>
						<key>port-status</key>
						<integer>0</integer>
					</dict>
					<key>SS02</key>
					<dict>
						<key>IOGeneralInterest</key>
						<string>IOCommand is not serializable</string>
						<key>IOPowerManagement</key>
						<dict>
							<key>CapabilityFlags</key>
							<integer>65536</integer>
							<key>CurrentPowerState</key>
							<integer>2</integer>
							<key>DevicePowerState</key>
							<integer>2</integer>
							<key>DriverPowerState</key>
							<integer>0</integer>
							<key>MaxPowerState</key>
							<integer>3</integer>
						</dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>device-properties</key>
						<dict>
							<key>acpi-device</key>
							<string>IOACPIPlatformDevice is not serializable</string>
							<key>acpi-path</key>
							<string>IOACPIPlane:/_SB/PCI0@0/XHC@140000/RHUB@0/SS02@e</string>
						</dict>
						<key>kUSBBusCurrentAllocation</key>
						<integer>150</integer>
						<key>kUSBBusCurrentSleepAllocation</key>
						<integer>0</integer>
						<key>kUSBHostPortPropertyOffset</key>
						<integer>12</integer>
						<key>kUSBSleepPortCurrentLimit</key>
						<integer>0</integer>
						<key>kUSBWakePortCurrentLimit</key>
						<integer>900</integer>
						<key>link-error-count</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DgAAAA==
						</data>
						<key>port-statistics</key>
						<dict>
							<key>kPortStatAddressFailureCount</key>
							<integer>0</integer>
							<key>kPortStatConnectCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationCurrentConnectCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationDuringResetCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationDuringResumeCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationRecoveryDuringResetCount</key>
							<integer>0</integer>
							<key>kPortStatEnumerationFailureCount</key>
							<integer>0</integer>
							<key>kPortStatOverCurrentCount</key>
							<integer>0</integer>
							<key>kPortStatPowerStateTime</key>
							<dict>
								<key>kPowerStateOff</key>
								<string>0ms (0%)</string>
								<key>kPowerStateOn</key>
								<string>253ms (0%)</string>
								<key>kPowerStateSleep</key>
								<string>0ms (0%)</string>
								<key>kPowerStateSuspended</key>
								<string>68970ms (99%)</string>
							</dict>
							<key>kPortStatRemoteWakeCount</key>
							<integer>0</integer>
						</dict>
						<key>port-status</key>
						<integer>0</integer>
					</dict>
					<key>SS03</key>
					<dict>
						<key>IOGeneralInterest</key>
						<string>IOCommand is not serializable</string>
						<key>IOPowerManagement</key>
						<dict>
							<key>CapabilityFlags</key>
							<integer>65536</integer>
							<key>CurrentPowerState</key>
							<integer>2</integer>
							<key>DevicePowerState</key>
							<integer>2</integer>
							<key>DriverPowerState</key>
							<integer>0</integer>
							<key>MaxPowerState</key>
							<integer>3</integer>
						</dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>device-properties</key>
						<dict>
							<key>acpi-device</key>
							<string>IOACPIPlatformDevice is not serializable</string>
							<key>acpi-path</key>
							<string>IOACPIPlane:/_SB/PCI0@0/XHC@140000/RHUB@0/SS03@f</string>
						</dict>
						<key>kUSBBusCurrentAllocation</key>
						<integer>150</integer>
						<key>kUSBBusCurrentSleepAllocation</key>
						<integer>0</integer>
						<key>kUSBHostPortPropertyOffset</key>
						<integer>12</integer>
						<key>kUSBSleepPortCurrentLimit</key>
						<integer>0</integer>
						<key>kUSBWakePortCurrentLimit</key>
						<integer>900</integer>
						<key>link-error-count</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DwAAAA==
						</data>
						<key>port-statistics</key>
						<dict>
							<key>kPortStatAddressFailureCount</key>
							<integer>0</integer>
							<key>kPortStatConnectCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationCurrentConnectCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationDuringResetCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationDuringResumeCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationRecoveryDuringResetCount</key>
							<integer>0</integer>
							<key>kPortStatEnumerationFailureCount</key>
							<integer>0</integer>
							<key>kPortStatOverCurrentCount</key>
							<integer>0</integer>
							<key>kPortStatPowerStateTime</key>
							<dict>
								<key>kPowerStateOff</key>
								<string>0ms (0%)</string>
								<key>kPowerStateOn</key>
								<string>253ms (0%)</string>
								<key>kPowerStateSleep</key>
								<string>0ms (0%)</string>
								<key>kPowerStateSuspended</key>
								<string>68971ms (99%)</string>
							</dict>
							<key>kPortStatRemoteWakeCount</key>
							<integer>0</integer>
						</dict>
						<key>port-status</key>
						<integer>0</integer>
					</dict>
					<key>SS05</key>
					<dict>
						<key>IOGeneralInterest</key>
						<string>IOCommand is not serializable</string>
						<key>IOPowerManagement</key>
						<dict>
							<key>CapabilityFlags</key>
							<integer>65536</integer>
							<key>CurrentPowerState</key>
							<integer>2</integer>
							<key>DevicePowerState</key>
							<integer>2</integer>
							<key>DriverPowerState</key>
							<integer>0</integer>
							<key>MaxPowerState</key>
							<integer>3</integer>
						</dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>device-properties</key>
						<dict>
							<key>acpi-device</key>
							<string>IOACPIPlatformDevice is not serializable</string>
							<key>acpi-path</key>
							<string>IOACPIPlane:/_SB/PCI0@0/XHC@140000/RHUB@0/SS05@11</string>
						</dict>
						<key>kUSBBusCurrentAllocation</key>
						<integer>150</integer>
						<key>kUSBBusCurrentSleepAllocation</key>
						<integer>0</integer>
						<key>kUSBHostPortPropertyOffset</key>
						<integer>12</integer>
						<key>kUSBSleepPortCurrentLimit</key>
						<integer>0</integer>
						<key>kUSBWakePortCurrentLimit</key>
						<integer>900</integer>
						<key>link-error-count</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						EQAAAA==
						</data>
						<key>port-statistics</key>
						<dict>
							<key>kPortStatAddressFailureCount</key>
							<integer>0</integer>
							<key>kPortStatConnectCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationCurrentConnectCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationDuringResetCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationDuringResumeCount</key>
							<integer>0</integer>
							<key>kPortStatEOF2ViolationRecoveryDuringResetCount</key>
							<integer>0</integer>
							<key>kPortStatEnumerationFailureCount</key>
							<integer>0</integer>
							<key>kPortStatOverCurrentCount</key>
							<integer>0</integer>
							<key>kPortStatPowerStateTime</key>
							<dict>
								<key>kPowerStateOff</key>
								<string>0ms (0%)</string>
								<key>kPowerStateOn</key>
								<string>252ms (0%)</string>
								<key>kPowerStateSleep</key>
								<string>0ms (0%)</string>
								<key>kPowerStateSuspended</key>
								<string>68972ms (99%)</string>
							</dict>
							<key>kPortStatRemoteWakeCount</key>
							<integer>0</integer>
						</dict>
						<key>port-status</key>
						<integer>0</integer>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacBookPro15,2</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
